// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


.run-color {
  color: #86BBD8;
}

.park-color {
  color: #8ACB88;
}

.museum-color {
  color: #5B9279;
}

.bbq-color {
  color: #F3DE8A;
}

.yoga-color {
  color: #CAE7B9;
}

.cinema-color {
  color: #81D2C7;
}

.drinks-color {
  color: #FC9F5B
}

.read-color {
  color: #A5FFD6;
}

.gallery-color {
  color: #56A3A6;
}

.cafe-color {
  color: #C6A5C2;
}



