.wrapper {
  //position: relative;
  display: flex;
  justify-content: space-between;
  //flex-wrap: wrap;
}

.activities-wrapper {
  display: flex;
  height: calc(100vh - 70px);
  justify-content: space-between;
  overflow-y: scroll;
}

