.routine-flexbox-wrapper {
  display: flex;
  justify-content: space-between;
}

.banner-vertical {
  width: 50%;
  height: 80vh;
  background: linear-gradient(179.71deg, rgba(80, 227, 142, 0) 44.9%, rgba(81, 187, 125, 0.295) 73.01%), rgba(56, 165, 152, 0.75);
}
#routine-form {
  height: 50%;
  width: 70%;

  label {
    font-size: 17px;
  }
}

#routine-form-wrapper {
  display:flex;
  justify-content: space-around;
  width: 50%;
}
