<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-bookmark"></i></a>
    <a href="#"><i class="fa fa-beer"></i></a>
    <a href="#"><i class="fa fa-paypal"></i></a>
  </div>
</div>
