<div class="home-background">
  <div id="landing-content">
    <h1>Weada</h1>
    <h2>Optimizing your day for the weather.</h2>
    <div class="btn btn-signup"><%= link_to "Get Started", new_user_registration_path %></div>
  </div>
</div>
