<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <h3>Your Weada Calendar!</h3>
      </div>
      <div class="col-12">
        <iframe class= "calendar" src="https://calendar.google.com/calendar/embed?src=<%= @id %>" width="900" height="700" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>

