<div class="container dashboard">
  <h1>Hello User</h1>
  <div class="btn btn-create-schedule"><%= link_to "Create Schedule!", activities_path %></div>
  <div class="upcoming-events">
    <% @schedule_hash.each_pair %>

    </div>

    <% raise %>
  </div>
</div>





