<div class="wrapper dashboard">
  <div class="container dashboard">
    <h1>Hello User</h1>
    <div class="btn btn-create-schedule"><%= link_to "Create Schedule!", activities_path %></div>
  </div>
</div>



