.card-container {
  position: relative;
  width: 59%;
  left: 0;
  // right: 0;
  margin: 0 10px;
  text-align: center;
    h2 {
    font-size: 24px;
  }
}

.card {
  height: 100px;
  font-weight: bolder;
  background-color: white;
  position: relative;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 10px 0;
  border-radius: 5px;
}

.card.activity {
  transition: all 0.25s ease-in-out;
  height: 175px;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  padding: 0 10px;
  box-shadow: 0px 0px 35px rgba(100, 100, 100, 0.1);

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

#activity_ids_ {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon {
  // position: absolute;
  font-size: 32px;
  // top: 30px;
}

.activity-card-name {

  width: 100%;
  font-weight: bold;
}

// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
// .card-link &:hover {
//   opacity: 0.1;
// }

.h1 {
  font-size: 48;
}
