/* Main navbar */
.navbar-wagon {
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.white {
  color: white !important;
  text-decoration: none !important;
  z-index: 10;
}

/* Logo */
.navbar-logo a {
  font-size: 16px;
  text-decoration: none;
  color: $weada-green;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.8;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  color: $weada-green;
}

/* Navbar link */
.navbar-wagon-link {
  color: $weada-green;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: $weada-green;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $weada-green !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  color: $weada-green;
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
