#sidebar {
  justify-content: space-around;
  flex: 0 0 29%;
  background: linear-gradient(179.42deg, rgba(80, 227, 142, 0) 45.01%,
    rgba(81, 187, 125, 0.295) 72.81%), rgba(56, 165, 152, 0.75);

  // These were used for keeping the sidebar as sticky

  height: calc(100vh - 70px);
  position: sticky !important;
  top: 0 !important;
  min-width: 200px;
}

.form-design {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn-save {
  padding: 15px;
  box-shadow: none;
  width: 100%;
  bottom: 0;
  position: absolute;
  input {
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    color: white;
  }
  &:hover {
     background: rgba(255,255,255, 0.4);
     transition: all 0.25s ease-in-out;
  }
}

.selected-activities-container {
  width: 100%;
  height: calc(100vh - 127px);
  overflow-y: scroll;

  .card {
    margin: 10px auto;
  }
}
