#sidebar {
  justify-content: space-around;
  flex: 0 0 29%;
  background: linear-gradient(179.42deg, rgba(80, 227, 142, 0) 45.01%,
    rgba(81, 187, 125, 0.295) 72.81%), rgba(56, 165, 152, 0.75);

  // These were used for keeping the sidebar as sticky
  height: calc(100vh - 70px);
  position: sticky !important;
  top: 0 !important;
  min-width: 200px;
  padding-top: 20px;
}

.form-design {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn-save {
  display: flex;
  background: #61baa1;
  transition: all 0.25s ease-in-out;
  padding: 15px;
  box-shadow: none;
  width: 29%;
  height: 75px;
  position: fixed;
  right: 0;
  bottom: 0;
  input {
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    color: white;
  }
  &:hover {
    background: rgba(255,255,255, 0.9);
    transition: all 0.25s ease-in-out;
    input {
      color: #61baa1;
    }
  }
}

.selected-activities-container {
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  text-align: center;
  position: relative;
  top: 0;
  .card {
    margin: 10px auto;
  }
  h4 {
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

