<div class="container">
  <h1>Choose your activities for the week!</h1>
  <div class="row">
    <!-- # Form for new_user_event -->

    <%= form_tag('/user_events', {:method => :post}) do %>
      <!-- # iterating over each activity -->
      <% @activities.each do |activity| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
            <%= check_box_tag 'activity_ids[]', activity.id %>
            <div class="card-name">
              <%= activity.name %>
            </div>
          </div>
        </div>
      <% end %>
      <div><%= submit_tag 'Save' %></div>
    <% end %>
  </div>
</div>


